i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  .arrowRight {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .arrowLeft {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}


.sidebarButton{
  position: relative;
  right: 2px;
  top: 50%;
  border-radius: 50%;
}