.categoryHeader {
  height: fit-content;
  width: fit-content;
  font-size: 50px;
  background-color: red;
  margin-left: auto;
  margin-top: 5px;
  margin-right: 5px;
  border: solid 3px;
  border-radius: 4px;
  padding: 15px;
}