.categoryView {
  height: fit-content;
  width: fit-content;
  font-size: 12px;
  background-color: red;
  margin: auto;
  border: solid 3px;
  border-radius: 3px;
  padding: 15px;

  @media (min-width: 768px) {
    font-size: 50px;
  }
}
.topicView {
  height: fit-content;
  width: fit-content;
  font-size: 16px;
  background-color: red;
  margin: auto;
  border: solid 3px;
  border-radius: 3px;
  padding: 15px;

  @media (min-width: 768px) {
    font-size: 50px;
  }
}
.subtopicView {
  height: fit-content;
  width: fit-content;
  font-size: 16px;
  background-color: red;
  margin: auto;
  border: solid 3px;
  border-radius: 3px;
  padding: 15px;

  @media (min-width: 768px) {
    font-size: 50px;
  }
}
