
.navbar {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  color: black;
  position: sticky;
  z-index: 1;
  height: $header-height;
  top: 0;

  .logo {
    height: 50px;
    width: auto;
    padding: 7px 0 7px 0;
  

    @media (min-width: 768px) {
      height: 70px;
      width: auto;
      padding: 15px 0 15px 0;
    }
  }

  .title {
    font-size: 13px;
    padding: 10px;

    @media (min-width: 768px) {
      font-size: 26px;
      padding: 20px;
    }
  }

  .subtitle {
    display: block;
    padding: 5px 0 0 70px;
    font-size: 9px;

    @media (min-width: 768px){
      display: block;
      padding: 10px 0 0 135px;
      font-size: 19px;
    }
  }

  .auth {
    margin-left: auto;
    padding: 1px;

    @media (min-width: 768px) {
      margin-left: auto;
      padding: 5px;
    }
  }
}
