.navbar {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  color: black;
  position: sticky;
  top: 0;


  .logo {
    height: 130px;
    width: auto;
    padding: 15px 0 15px 0;
  }

  .title {
    font-size: 32px;
    padding: 20px;
  }

  .subtitle {
    display: block;
    padding: 10px 0 0 135px;
  }

  .auth {
    margin-left: auto;
    padding: 5px;
  }

}
