.navbar {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  color: black;


  .logo {
    height: 150px;
    width: auto;

  }

  .title {
    font-size: 32px;
    padding: 20px;
  }

  .subtitle {
    display: block;
    padding: 10px 0 0 135px;
  }

  .auth {
    margin-left: auto;
  }

}
