.sidebar-wrapper {
  display: flex;
  position: relative;
  min-width: $sidebar-width;
  padding-left: 20px;
  padding-top: 20px;
}

.sidebar {
  display: none;

  @media (min-width: 768px) {
    display: inline;
    background: white;
    border-right: solid 1px #fafafa;
    text-align: left;
  }

  li {
    padding: 5px;
    width: 100%;
  }
}

.sidebar-section-header {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 25px;
}

.permanentLinks {
  font-size: 50px;
}

.topicLinks {
  font-size: 35px;
}

.subtopicLinks {
  font-size: 25px;
}

.sidebarButton {
  color: darkred;
  border-top: yellow 5px solid;
  border-right: red 5px solid;
  border-left: saddlebrown 5px solid;
  border-bottom: blue 5px solid;
  background: rgb(240, 179, 184);
  position: relative;
  right: -1px;
  top: -55px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 8px;

  @media (min-width: 768px) {
    border-top: cadetblue 10px solid;
    border-right: olivedrab 10px solid;
    border-left: purple 10px solid;
    border-bottom: blue 10px solid;
    background: lemonchiffon;
    height: 70px;
    width: 70px;
    top: -70px;
    right: -5px;
    font-size: 13px;
  }
}
